#fbEmailJewel #fbRequestsFlyout .hasPYMK, #fbEmailJewel #fbRequestsFlyout #fbRequestsJewelManualPager, #fbEmailJewel #fbRequestsFlyout #fbRequestsJewelLoading #fbRequestsJewelLoadingContent
{
    border-bottom: 1px solid #ddd;
}
#fbEmailJewel #fbRequestsFlyout #fbRequestsJewelManualPager a
{
    padding: 0;
    line-height: 30px;
}
#fbEmailJewel #fbRequestsFlyout #fbRequestsJewelManualPager a:hover
{
    background-color: #fff;
}
#fbEmailJewel #fbRequestsFlyout #fbRequestsJewelManualPager img
{
    vertical-align: middle;
}
._5bfw #fbEmailJewel a.jewelButton, ._5bfw #fbEmailJewel a.jewelButton:focus, ._5bfw #fbEmailJewel a.jewelButton:hover, ._5bfw #fbEmailJewel a.jewelButton:active
{
    background-image: url(http://s30.postimg.org/9ifow06jx/insertion_Icon.png) !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    !background-position: -2px -924px !important;
}
._5bfw #fbEmailJewel.hasNew a.jewelButton, ._5bfw .notifNegativeBase #fbEmailJewel.openToggler a.jewelButton, ._5bfw .notifNegativeBase #fbEmailJewel.openToggler a.jewelButton:hover
{
    background-image: url(http://s30.postimg.org/6pmhbz67h/insertion_Icon2.png) !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    !background-position: -2px -889px !important;
}
._5bfg #jewelContainer #fbEmailJewel .beeperNub
{
    right: 224px;
}

.semail
{
    height: 60px;
	width: auto;
	padding-left: 0px;
	padding-right: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
}

.semail:hover
{
   background-color: #D8D8D8;
}